<style>
  .hearder-title {
    width:30%;
    position: absolute;
    top:0;
    left:35%;
    z-index:100;
  }
</style>

<div class="hearder-title">
  <img style="width:100%" src="./assets/darkStyleImg/header.png" alt="">
</div>

<script>
</script>