<head>
  <title>Appropolis 3D library</title>
  <!-- 下面3个meta中任选一个，即可正确识别 -->
  <!-- <meta name="renderer" content="webkit" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" /> -->
  <meta http-equiv="X-UA-Compatible" content="chrome=1" />

  <meta charset="utf-8" />
  <meta
    name="viewport"
    content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
  />

  <link href="css/main.css" rel="stylesheet" />
  <link id="theme" href="css/light.css" rel="stylesheet" />
  <link id="theme" href="css/label.css" rel="stylesheet" />
  <!-- <script src="assets/strings_chinese.js"></script> -->
  <script src="assets/strings.js"></script>
  <script src="<%= siteDir %>/siteObj.js"></script>
  <script src="<%= siteDir %>/flowObj.js"></script>
  <script src="../libs/app3d/app3d.js"></script>
  <script src="../libs/thirdParty/inflate.min.js"></script>
  <script src="../libs/thirdParty/polyfill.min.js"></script>
  <script src="../libs/thirdParty/jquery.min.js"></script>
  <script src="../libs/thirdParty/echarts.min.js"></script>
  <script src="../features/SelectionFeature.js"></script>
  <script src="../features/CameraFeature.js"></script>
  <script src="../features/EmissionControlFeature.js"></script>
  <script src="../features/FlowingLineFeature.js"></script>
  <!-- <script src="../features/PipelineFeature.js"></script> -->
</head>
